<!doctype html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/menu :: menu}">&nbsp;</div>
    <h1 th:if="${project == null}">Create Project</h1>
    <h1 th:unless="${project == null}">Edit Project</h1>

    <form method="POST" th:action="@{/project}" th:object="${newProject}">

        <div>
            <span>Id:</span>
            <input  class="form-control" type="text" name="id" th:value="${project != null} ? ${project.id}:''"/>
        </div>
        <div>
            <span>Name:</span>
            <input  class="form-control" type="text" name="name" th:value="${project != null} ? ${project.name}:''"/>
        </div>
        <div>
            <span>Date:</span>
            <input  class="form-control" type="date" name="dateCreated" th:value="${project != null} ? ${project.dateCreated}:''"/>
        </div>
        <input type="submit" value="Enviar">
    </form>
    <div th:replace="~{fragments/menu :: javascript}">&nbsp;</div>

</div>
</body>
</html>
